.quiz_container {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  height: 800px;

}

.btn_chat {
  position: absolute;
  background-color: #FFF0FE;
  border: 0.5px solid #4D85D9;
  border-radius: 30px;
  box-shadow: 0 3px 3px #3048bf46;
  color: #693A4B;
  font-size: 16px;
  padding: 0.8rem;
  margin: 2rem;
  padding-right: 2rem;
  padding-left: 2rem;
  cursor: pointer;
  transition: all 0.3s ease;
  z-index: 10;
  font-family: "Red Hat Mono";
  top: 50%;
  left: 50%;
  transform: translate(-90%, -120%);


}

.btn_chat:hover {
  background-color: #705ce353;
  border: 1px solid #826cda;
}

.page_content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 30%;
  height: 100vh;


}

.bubble_chat {
  z-index: -1;
  position: absolute;
  height: 70vh;
  margin-right: 60%;
  margin-top: 10%;

}

.unicorn_chat img {
  max-width: 80%;
}

.unicorn_chat {
  position: relative;
}

.unicorn_img {
  width: 50%;

}

.btn_back_quiz {
  background-color: #af9cfb50;
  border: 0.5px solid #4D85D9;
  border-radius: 30px;
  box-shadow: 0 3px 3px #3048bf46;
  color: #693A4B;
  font-size: 15px;
  padding: 0.5rem;
  margin: 1rem;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  cursor: pointer;
  transition: all 0.3s ease;
  z-index: 10;
  font-family: "Red Hat Mono";
  position: relative;
  top: -300px;
  right: 300px;
}

.questions_button {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.questions_chat {
  position: relative;
}

.answer_button {
  background-color: #FFF0FE;
  border: 0.5px solid #4D85D9;
  border-radius: 30px;
  box-shadow: 0 3px 3px #3048bf46;
  color: #693A4B;
  font-size: 16px;
  padding: 0.8rem;
  margin: 2rem;
  padding-right: 2rem;
  padding-left: 2rem;
  cursor: pointer;
  transition: all 0.3s ease;
  z-index: 10;
  font-family: "Red Hat Mono";

}

.answer_button:hover {
  background-color: #705ce353;
  border: 1px solid #826cda;
}

.main_content-quiz {
  z-index: 1;
  position: relative;

}

h2 {
  font-size: 30px;
  color: #693A4B;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.result_container img {
  max-width: 50%;
  height: auto;
  border-radius: 10px;
}

.result_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
}

.result_container.specific_result {
  text-align: center;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 20px;
}

.result_container p {
  font-size: 16px;
}

@media (max-width: 400px) {

  .page_content {
    display: flex;
    flex-wrap: wrap;
    margin-left: 0;
    height: 100vh;

  }


  p {

    display: flex;
    flex-wrap: wrap;

  }

  .btn_back_quiz {

    position: fixed;
    top: 5rem;
    right: 17rem;
  }
}
