.quiz_container {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  height: 800px;

}

.btn_chat {
  position: absolute;
  background-color: #af9cfb50;
  border: 0.5px solid #4D85D9;
  border-radius: 30px;
  box-shadow: 0 3px 3px #3048bf46;
  color: #693A4B;
  font-size: 16px;
  padding: 0.8rem;
  margin: 2rem;
  padding-right: 2rem;
  padding-left: 2rem;
  cursor: pointer;
  transition: all 0.3s ease;
  z-index: 10;
  font-family: "Red Hat Mono";
  top: 50%;
  left: 50%;
  transform: translate(-90%, -120%);

}

.btn_chat:hover {
  background-color: #705ce353;
  border: 1px solid #826cda;
}

.page_content {
  display: flex;
  justify-content: center;
  align-items: center;

}

/* 
@keyframes slide {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(50px);
  }

  100% {
    transform: translateX(0);
  }
}

.sliding-element {
  animation: slide 10s infinite;

} */

.unicorn_chat img {
  max-width: 100%;
}

.unicorn_chat {
  position: relative;
}

.unicorn_img {
  width: 50%;

}

.main_content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

}
