.container-img {
  width: 50%;
  height: 30rem;
  overflow: hidden;
  border-radius: 17px;

}

.container-img img {
  width: 50%;
  height: 100%;

  opacity: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.container-img h4 {
  color: #693A4B;
  font-size: 1.5rem;
  text-align: center;
  margin: 5%;
}
