.container-top {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  z-index: 10;

}







.top-headline h2 {
  font-size: 30px;
  color: #693A4B;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 1.5;
  letter-spacing: 2px;
  border: #693A4B solid 1px;
  padding-right: 1.5%;
  padding-left: 1.5%;

}

.cafe-top10 {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding-bottom: 5%
}

li p:hover {
  background-color: #fbd1d6e4;
  padding: 10px;
  border-radius: 10px;
  filter: drop-shadow(0px 2px 2px #f48695bf);
}

.cafe-list :hover {
  cursor: pointer;


}

.list-bubble {
  position: absolute;
  height: 90vh;

}

@keyframes slide {
  0% {

    transform: translateX(0) scaleX(-1);


  }

  50% {
    transform: translateX(50px) scaleX(-1);
  }

  100% {

    transform: translateX(0) scaleX(-1);

  }
}

.list-sliding_element {
  animation: slide 10s infinite;
}



.seznam_img img {
  width: 250px;
  position: absolute;
  margin-left: 10%;



}

@media (max-width: 640px) {

  h2 {
    padding-left: 5%;
  }

  .top-headline h2 {
    font-size: 23px;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-wrap: nowrap;

    border: none;
    letter-spacing: 0;
    text-align: center;
    padding-top: 30%;
    border-bottom: #693A4B 1px solid;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 1%;


  }

  .seznam_img img {
    width: 20%;
  }

  .li p {
    margin: 0;
  }

  .list-bubble {
    position: absolute;
    height: 35vh;

  }

  @keyframes slide {
    0% {

      transform: translateX(0) scaleX(-1);


    }

    50% {
      transform: translateX(50px) scaleX(-1);
    }

    100% {

      transform: translateX(0) scaleX(-1);

    }
  }

  .list-sliding_element {
    animation: slide 10s infinite;
  }

  .seznam_img img {
    width: 40%;
    top: 145%;
    right: 0;

  }

  .cafe-top10 {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.1rem;


  }

}

@media (max-width: 400px) {
  .top-headline h2 {
    font-size: 23px;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-wrap: nowrap;


    border: none;
    letter-spacing: 0;
    text-align: center;

    border-bottom: #693A4B 1px solid;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 1%;


  }


  .cafe-top10 {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.1rem;


  }

  .seznam_img img {
    width: 40%;
    top: 175%;
    right: 0;

  }
}
