.container-top {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 10;

}

.container-top img {
  width: 90%;
  max-height: 100%;
}

.top-headline h2 {
  width: 100%;
  font-size: 1rem;
  color: #693A4B;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.5;
  letter-spacing: 5px;
  border: #693A4B solid 1px;
  padding-right: 1.5%;
  padding-left: 1.5%;
}

.cafe-top10 {
  margin: auto;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;



}

.cafe.list {
  height: 50%;
  border: #693A4B solid 1px;


}

.cafe-top10 :hover {
  cursor: pointer;
}

.list-bubble {
  position: absolute;
  height: 90vh;
  left: 30%;
}

@keyframes slide {
  0% {

    transform: translateX(0) scaleX(-1);


  }

  50% {
    transform: translateX(50px) scaleX(-1);
  }

  100% {

    transform: translateX(0) scaleX(-1);

  }
}

.list-sliding_element {
  animation: slide 10s infinite;
}

.seznam_img {
  position: relative;
}

.seznam_img img {
  width: 250px;

}

@media (max-width: 640px) {
  .top-headline h2 {
    font-size: 23px;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-wrap: nowrap;

    border: none;
    letter-spacing: 0;
    text-align: center;
    padding-top: 20%;
    border-bottom: #693A4B 1px solid;

  }

}
