@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Mono:wght@400;700&display=swap");

body {
  margin: 0
}

html {
  font-family: 'Red Hat Mono', monospace;
  background: linear-gradient(#FFF0FE 0%, #DEEAFF 50%, #F4F8FF 100%);
}
