.fun_title img {
  width: 400px;
  margin: 1.5rem;
}

.fun-facts {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;

}


.fun-facts_cards {
  z-index: 10;
  display: flex;
  aspect-ratio: 1 / 1;
  justify-content: center;
  align-items: center;
  transition: transform 0.5s ease, opacity 0.5s ease;





}

.otocena {
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("./../../../assets/Rectangle.svg");
}

@keyframes zjeveni {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.fun-facts_cards.otocena {
  background-color: rgba(255, 255, 255, 0);
  border: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;


}

.fun-facts_div {
  padding: 4rem;
  width: 80%;
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(5, 1fr);
  transform: scale(0.9);
  animation: zjeveni 0.3s 0.5s forwards;
  background-image: url("../../../assets/toilet.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50%;

}

.fun-facts_cards:hover {
  transform: scale(1.2);
  opacity: 1;
  cursor: pointer;
}



.fun__facts-fact {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%;
  width: 90%;
  margin: auto;
}

.hidden {
  display: none;
}

.toilet_logo_card {
  width: 6rem;



}

.fun__facts-fact p {
  font-size: 14px;
  font-family: "Red Hat Mono";
  font-weight: bold;
}
